#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_installman:
	rst2man debian/lastfmfpclient.rst > debian/lastfmfpclient.1
	dh_installman  debian/lastfmfpclient.1

override_dh_clean:
	dh_testdir
	dh_auto_clean
	dh_clean
	rm -f debian/lastfmfpclient.1
